# Ignore everything in the .idea/ directory except code styles, run configurations, inspection profiles, and VCS configuration.
.idea/*
!.idea/codeStyles/
!.idea/runConfigurations/
!.idea/inspectionProfiles/
!.idea/vcs.xml


# SBT related
.bsp
/target
**/project/target/
/core/target
/core/**/project/target/
/core/.bsp
/akka-integration/target
/akka-integration/**/project/target/
/akka-integration/.bsp


# VSC related
/.vscode
**/.bloop
/.metals
/**/metals.sbt

# related to this particular project
/logs

